
<div class="row">
  <div class="jiwan-panel">
    <p>Hello</p>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h1><%= link_to "JOURNAL", consumed_wines_path %></h1>
        </br>
        <h4>What is the Wine Journal?</h4>
        <p>Your Wine Journal is where you can record all the wine that you've tried, enjoyed
        or that you'd never drink again!
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h1><%= link_to "JOURNAL", consumed_wines_path %></h1>
        </br>
        <h4>What is the Wine Journal?</h4>
        <p>Your Wine Journal is where you can record all the wine that you've tried, enjoyed
        or that you'd never drink again!
        </p>
      </div>
    </div>
  </div>
</div>