<div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Appellation Details</h3>
    </div>

    <div class="panel-body">
      <table class="table table-condensed">
        <tr>
          <th>Appellation Name</th>
          <th>Country</th>
          <th>Abbreviation</th>
        </tr>
        <% @appellations.each do |appellation| %>
        <tr>
          <td><%= link_to appellation.name, appellation_path(appellation.id) %></td>
          <td><%= appellation.country.name %></td>
          <td><%= appellation.abbreviation %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>