<footer class="footer">
  <div class="container">
    <small>
      Dein Wein Verein
    </small>
    <nav>
      <ul>
        <li><%= link_to "Twitter",   static_pages_about_path %></li>
      </ul>
    </nav>
  </div>
</footer>